.keyboard {
    display: flex;
    justify-content: center;
    /* text-align: center; */
}

.naturalNotes button {
    padding: 200px 50px;
    color: black;
    background-color: white;
    z-index: 1;
}


.sharpFlatNotes button {
    padding: 120px 30px;
    color: white;
    position: relative;
    background-color: black;
    z-index: 2;
}

.naturalC button {
    position: relative;
    left: 205px;
}

.DFlat {
    position: relative;
    left: 165px;
}

.naturalD {
    position: relative;
    left: 124px;
}

.EFlat {
    position: relative;
    left: 83px;
}

.naturalE {
    position: relative;
    left: 43px;
}

.naturalF {
    position: relative;
    left: 43px;
}

.GFlat {
    position: relative;
    right: 1px;
}

.naturalG {
    position: relative;
    right: 39px;
}

.AFlat {
    position: relative;
    right: 80px;
}

.naturalA {
    position: relative;
    right: 120px;
}

.BFlat {
    position: relative;
    right: 160px;
}

.naturalB {
    position: relative;
    right: 200px;
}

@media (max-width: 1260px) {

    .naturalNotes button {
        padding: 240px 60px;
    }

    .sharpFlatNotes button {
        padding: 140px 30px;
    }
}

@media (min-width: 1300px) {

    .naturalNotes button {
        padding: 240px 60px;
    }

    .sharpFlatNotes button {
        padding: 140px 30px;
    }
}