.keyboard {
    display: flex;
    justify-content: center;
    /* text-align: center; */
}

.naturalNotes button {
    padding: 200px 50px;
    color: black;
    background-color: white;
    z-index: 1;
}


.sharpFlatNotes button {
    padding: 120px 30px;
    color: white;
    position: relative;
    background-color: black;
    z-index: 2;
}

.naturalC button {
    position: relative;
    left: 182px;
}

.DFlat {
    position: relative;
    left: 140px;
}

.naturalD {
    position: relative;
    left: 101px;
}

.EFlat {
    position: relative;
    left: 60px;
}

.naturalE {
    position: relative;
    left: 20px;
}

.naturalF {
    position: relative;
    left: 20px;
}

.GFlat {
    position: relative;
    right: 25px;
}

.naturalG {
    position: relative;
    right: 62px;
}

.AFlat {
    position: relative;
    right: 105px;
}

.naturalA {
    position: relative;
    right: 143px;
}

.BFlat {
    position: relative;
    right: 185px;
}

.naturalB {
    position: relative;
    right: 223px;
}